// $dark-mode:("background-color":#212121,"color":#FAFAFA);
// $bright-mode:("background-color":white,"color":black);
    
// body{
//     background-color: map-get($dark-mode,background-color);
// }
   
.navBar{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    display:    flex;
    justify-content: space-between;
}
